@namespace ERPCore2.Components

<!DOCTYPE html>
<html lang="en">

<head>    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />    
    <link rel="stylesheet" href="@Assets["css/colors.css"]" />
    <link rel="stylesheet" href="@Assets["css/toast.css"]" />
    <link rel="stylesheet" href="@Assets["ERPCore2.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>    
    <Routes @rendermode="InteractiveServer" />
    
    <script src="@Assets["lib/bootstrap/dist/js/bootstrap.bundle.min.js"]"></script>
    <script src="@Assets["js/blazor-error-handler.js"]"></script>
    <script src="@Assets["js/bootstrap-helpers.js"]"></script>
    <script src="@Assets["js/toast.js"]"></script>
    <script src="@Assets["js/modal-helpers.js"]"></script>
    <script src="@Assets["js/nav-menu-mobile.js"]"></script>
    <script src="@Assets["js/batch-print-helpers.js"]"></script>
    <script src="@Assets["js/date-input-helper.js"]"></script>
    <script src="@Assets["js/mobile-phone-helper.js"]"></script>
    <script src="@Assets["js/number-input-helper.js"]"></script>
    <script src="@Assets["js/interactiveTableDropdown.js"]"></script>
    
    @* JsBarcode CDN - 用於條碼生成 *@
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.6/dist/JsBarcode.all.min.js"></script>
    <script src="@Assets["js/barcode-generator.js"]"></script>
    
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
